* {
    box-sizing: border-box;
  }

.navbar{
    background-color:rgb(225, 241, 250);
}

.navbar-brand{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 200%;
}

.navbar-nav{
    font-size: 85%;
}


body{
    background-image: url('photos/Scotland-Background.jpg');
    background-color: rgb(225, 241, 250);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment:fixed;
    margin: 50px;
}

.header{
    font-size: 300%;
    font-family: 'Cedarville Cursive', cursive;
}

.bio{
    margin-top:40px;
    background-color: rgb(225, 241, 250);
    height: auto;
}

.bio-image{
    float: left;
    margin:10px;
    width:350px;
}


footer{
    background-color:rgb(225, 241, 250);
    height:30px;
    line-height:30px;
    font-size:70%;
    text-align: center;

}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 400px) {
}
