.navbar{
    background-color:rgb(225, 241, 250);
}

.navbar-brand{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 200%;
}

.navbar-nav{
    font-size: 85%;
}


body{
    background-image: url('photos/Scotland-Background.jpg');
    background-color: rgb(225, 241, 250);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment:fixed;
    margin: 50px;
}

.header{
    font-size: 300%;
    font-family: 'Cedarville Cursive', cursive;
    margin-left:15px;
}

.container{
    margin-top:80px;
    background-color: rgb(225, 241, 250);
    height: auto;
    border-radius: 35px;
    padding:20px;
}

.bio-image{
    float: left;
    margin:10px;
    width:33%;
}


footer{
    background-color:rgb(225, 241, 250);
    height:30px;
    line-height:30px;
    font-family: 'Cedarville Cursive', cursive;
    font-size:90%;
    text-align: center;

}
/*Width of screen at 768px or below */
@media screen and (max-width: 768px) {
    .bio-image{
        width:50%;
    }
}
/*Width of screen at 400px or below*/
@media screen and (max-width: 400px) {

    .bio-image{
        width:67%;
    }
    .col-sm-8{
        padding:0;
        
    }

}
